[2019-06-25 23:44] yukinarit opened #1 "Support Union"
To read this toml with pyserde,

[code]
I define the pyserde classes like this.
It's nice `packages` can be `Union` which is `str` or `Package` object.

[code]

[2019-08-17 16:41] yukinarit commented on #1
Yeees, already implemented :)
https://github.com/yukinarit/pyserde/blob/master/tests/test_union.py

[2019-08-17 16:41] #1 closed

[2019-10-16 18:10] ses4j opened #4 "Support for non-base types?"
I use `decimal.Decimal` frequently, and I want to serialize to yaml.  Is there an extensibility feature that will enable this to serialize?  Currently I get messages like:

[code]

[2019-11-14 12:10] yukinarit commented on #4
Hi @ses4j
Sorry, I was completely missing out this issue. I am going to push the support for non-base types in the next few days. Thanks!

[2019-11-28 11:11] yukinarit commented on #4
@ses4j
I believe decimal support has been released as [0.0.9](https://pypi.org/project/pyserde/), and Here is the [test case](https://github.com/yukinarit/pyserde/blob/master/tests/test_more_types.py#L10-L23). Please Let me know if this doesn't work with your code. Thank you.

[2019-11-28 11:11] #4 closed

[2020-08-19 14:34] xbeastx opened #25 "Support XML serialization/deserialization"
It would be nice to support XML as well

[2020-08-20 08:04] yukinarit commented on #25
Hi,
Let me check xmltodict could be used as serializer backend.

https://pypi.org/project/xmltodict

[2020-08-25 00:59] rbuckland opened #26 "An example of deserialising an Enum"
Does pyserde support serialising/deserialising an Enum, other than integers?
I could not find an example.

[2020-08-25 06:28] yukinarit commented on #26
Hi @rbuckland

Thank you for being interested in pyserde. I did [a quick check](https://github.com/yukinarit/pyserde/pull/27):
* IntEnum is supported for JSON, MsgPack format as of now
    * Yaml raises an error when serializing/deserizing IntEnum
    * Toml serializes IntEnum as str not int
* Enum is not yet supported

But I have a plan to fully support enums for all types of formats.

[2020-08-26 07:33] rbuckland opened #28 "'DeField' has no attribute 'mangle' error when using skip field on optional[Dict]"
I have a basic dataclass, where upon `serializing` i want to omit, empty/optional tags

eg:

[code]

but with this field setting it errors...

[code]
bigger stack trace
[code]

[2020-08-27 03:55] yukinarit commented on #28
Hi @rbuckland

I've merged a fix. Can you please verify?

[2020-09-12 00:06] yukinarit commented on #28
Hi @rbuckland

The new version [0.1.3](https://pypi.org/project/pyserde/) is already PyPI.

[2020-09-17 13:44] waszil commented on #26
Hi! Great package! The Enum/IntEnum support would be a nice feature!

[2020-09-20 13:50] yukinarit commented on #26
HI @waszil

Thank you for being interested in pyserde!
I'm planning to implement Enum/IntEnum soon. Hope you can wait :)

[2020-09-25 12:01] tiptop96 opened #31 "Compatibility with attrs"
This library looks really interesting to me. But I need to support "attrs" in my project.

Is "pyserde" compatible with "attrs" and if not is this on the road map and how hard would it be to support it?

[2020-09-25 14:03] #26 closed

[2020-09-25 14:35] yukinarit commented on #26
Hi @waszil @rbuckland

PR for enum support was just merged. Please take a look!

For your case,

[code]

`MyEnuClmass.MEMBER` is not a type. Can you do like this?
[code]

For more information about the usage, please check [the example](https://github.com/yukinarit/pyserde/commit/6dca2792c32ceadbfdbd6e8aa50c0ac511661e7d#diff-f440e1620fa9b196e9c6b4f0948ad3e6)

[2020-09-25 14:39] yukinarit commented on #31
Hi @tiptop96

Thanks for your interest! Sorry, I'm not an `attr` user. Could you elaborate on what sort of compatibility you need? You want to use both attr decorator and pyserde decorator for your class? 🤔

[2020-09-25 15:07] waszil commented on #26
Wow, this is great! Thanks a lot!

[2020-09-25 17:22] tiptop96 commented on #31
Yeah, basically I would like to replace the @dataclass decorator with @attr.s

There are a few features from attrs like defaults and validation that I need. 😊

It's not an emergency as there are specific tools that were designed to do this for attrs, like cattrs. But, being a fan of rust this API had me curious.

[2020-09-25 17:36] tiptop96 commented on #31
Oh and also you support switching the casing of keys which is something I have had to implement myself when using cattrs.

[2020-09-29 11:59] yukinarit commented on #31
It seems we need an abstraction over dataclass functions such as `astuple`, `asdict` and `fields`. It might not be done quickly but let me play around a bit more.

[2020-10-03 15:07] yukinarit opened #35 "Documentation is updated whatever branch changes"
Should be updated only when `master` has changed

[2020-10-03 15:08] yukinarit opened #36 "Use Github Action"

[2020-10-05 14:27] yukinarit commented on #28
I believe this is already fixed in v01.3. Please let me know if you still get this error.

[2020-10-05 14:27] #28 closed

[2020-10-13 10:27] andreymal opened #40 "Optional dependencies?"
I'm not planning on using msgpack/toml/yaml in some small project, but they are always installed because pyserde requires them. As far as I understand the code, their use is isolated in separate submodules, so these dependencies can be safely uninstalled while related submodules are not used. So I suggest making these dependencies optional.

It might look something like this:

[code]

Then all dep

[2020-10-13 11:44] andreymal opened #41 "Pyserde does not use default_factory during deserialization"
I want to define a dict field that is optional but non-nullable, and this can be done by using default_factory. But I found that pyserde cannot deserialize data if a value for this field is not present.

[code]

[code]

It seems the renderer completely ignores the existence of `default_factory`. My experiments with pyserde code have shown that this can in principle be fixed by adding `serde.core.F

[2020-10-13 12:41] yukinarit commented on #40
Hi @andreymal ! Thank you for being interested in pyserde!

I totally agree with you and your code LGTM. Could you make a PR for this if you don't mind? 😃

[2020-10-13 12:47] yukinarit commented on #41
Thank you for very precise issue. Indeed, the use of `default_factory` was missing out from the implementation. Let me look into `Renderer` tomorrow and get back to you!

[2020-10-13 17:18] andreymal commented on #41
Sorry for the rush of issues, but I found some other ways to break pyserde by using defaults:

[code]

[code]

[2020-10-14 11:36] #40 closed

[2020-10-23 08:35] yukinarit commented on #41
@andreymal
I think https://github.com/yukinarit/pyserde/pull/44 fixes this issue, but let me add more tests.

[2020-10-28 12:47] #41 closed

[2020-10-28 13:08] yukinarit commented on #41
@andreymal
I believe this issue was fixed in #44. Please reopen this issue if ever you still see any error. Thank you for reporting!

[2020-10-29 00:03] #36 closed

[2020-10-29 00:03] #35 closed

[2020-10-30 12:20] yukinarit opened #48 "Allow Enum compatible literal value for a Enum field"
Given this Enum and dataclass.

[code]

This works
[code]

But if a literal `1` is passed, it raises an error
[code]

I want pyserde to allow enum compatible literal value (in this case `1`).

[2020-10-30 12:30] yukinarit opened #49 "Document how to check the generated code"

[2020-10-30 12:37] yukinarit opened #50 "Add example of a field with default_factory property"
Add in [examples/default.py](https://github.com/yukinarit/pyserde/blob/master/examples/default.py)

[2020-10-30 16:12] pranavvp10 commented on #50
Hi @yukinarit , can I work on it? by adding example you mean another dictionary like 's' in this default.py?

[2020-10-31 00:19] yukinarit commented on #50
Hi @pranavvp10
Of course, you can do it ;)
The dataclasses `default_factory` was supported since https://github.com/yukinarit/pyserde/pull/44

So, you will be adding a field like this

[code]

You can check an example in [tests/test_basics.py](https://github.com/yukinarit/pyserde/blob/master/tests/test_basics.py#L256-L258).

---

After you modify, please try to run and verify `default.py` with thi

[2020-10-31 01:10] yukinarit opened #52 "Investigate why coverage is not updated in coveralls"
coverage report is not updated since Nov. 29, 2019? 🤔
https://coveralls.io/github/yukinarit/pyserde?branch=master

[2020-10-31 08:39] pranavvp10 commented on #50
Hi, @yukinarit , When I modified and run default.py I got this output:
`Into Json: {"i": 10, "s": "foo", "f": 100.0, "b": true, "d": {}}
From Json: Foo(i=10, s='foo', f=100.0, b=True, d={})`

Is this the desired output?

I added the line `d: Dict[str,int] =field(default_factory=dict)`
and also added d in our dictionary s -> `s = '{"i": 10, "s": "foo", "f": 100.0, "b": true, "d":{}}'`

Thanks

[2020-11-01 06:23] yukinarit commented on #50
@pranavvp10
👍

[2020-11-01 06:32] yukinarit opened #53 "Document how @serialize and @deserialize works"
* How does `dataclasses` work
* What is `exec` all about?
* What does `@serialize` and `@deserialize` do?

[2020-11-01 06:37] yukinarit opened #54 "Add example of rename_all class attribute"
Create `examples/rename_all.py` and write an example code of using `rename_all` class attribute.

Also see [tests/test_basics.py](https://github.com/yukinarit/pyserde/blob/master/tests/test_basics.py#L383-L392).

[2020-11-01 12:46] yukinarit commented on #50
Done in https://github.com/yukinarit/pyserde/pull/55

[2020-11-01 12:46] #50 closed

[2020-11-02 15:22] alexmisk commented on #52
Hi!

Are you considering changing Coveralls in favour of Codecov.io? If yes, I can update CI workflow with Codecov.io integration. Setting up Coveralls with Pytest and Github Actions seems like a harder task.

[2020-11-03 04:25] yukinarit commented on #52
Hi! I don't mind in switching to codecov.io. Thanks for the great help!

[2020-11-03 14:09] #52 closed

[2020-11-06 13:25] yukinarit opened #58 "PytestConfigWarning: Unknown config option: codestyle_ignore"
When I run `make test`, I get the following warning.

[code]

[2020-11-06 13:29] yukinarit opened #59 "Switch from flake8 to pycodestyle?"
I don't know how to fix `E741 ambiguous variable name 'I'`...

[code]

[2020-11-06 13:35] #48 closed

[2020-11-06 13:38] yukinarit opened #60 "Write more tests around Union"

[2020-11-06 13:51] yukinarit opened #63 "Add tests for base container type e.g. Dict, List"
[code]

[2020-11-10 12:37] yukinarit opened #65 "Support PEP585 type hint notation"
https://www.python.org/dev/peps/pep-0585/

[code]

[2020-11-13 20:42] jfuechsl opened #66 "Deserialization of extended types inside a container type fails"
The following fails to deserialize. It seems that in the "more types" deserializer (for `Path`) the `Optional[Path]` field is passed. The deserializer in `more_types.py` then complains that `Optional` is an unsupported type. Same thing happens with other container types (e.g. `List`).
[code]

[2020-11-16 09:56] yukinarit opened #67 "Installed python might not be used in CI"
As you can see in the console, it's running in python 3.8 although it's during the `Python 3.7` stage.

<img width="1433" alt="Screen Shot 2020-11-16 at 18 54 50" src="https://user-images.githubusercontent.com/2347533/99238552-36a79300-283d-11eb-8716-78e16b44fecb.png">

It appears to me
* For `Ubuntu`:
* For `macOS`: python3.8 is used during 3.6 / 3.7 / pypy3 stages
* For `Windows`:
    * python 3

[2020-11-16 12:47] alexmisk commented on #67
Hey!

Will work on it!

[2020-11-19 11:42] #67 closed

[2020-11-20 13:07] yukinarit commented on #66
@jfuechsl
Thanks for reporting. I will take a look on this weekend 👍

[2020-11-21 08:27] dkapitan opened #70 "Unclear how to define nesting properly"
I want to have nested dataclasses for managing configuration parameters for our dev, test, prod environments. This code works:

[code]

Look at the [toml spec](https://github.com/toml-lang/toml), however, I thought the way to do nesting is as follows:

[code]

That returns a `KeyError`. Could someone clarify why this is?

[2020-11-21 10:53] alexmisk commented on #59
According to [E471](https://www.flake8rules.com/rules/E741.html):

*"Variables named I, O, and l can be very hard to read. This is because the letter I and the letter l are easily confused, and the letter O and the number 0 can be easily confused. Change the names of these variables to something more descriptive."*

All you need is to rename confusing variables (e.g. "I" → "int_value" or similar).

[2020-11-21 13:16] yukinarit commented on #70
Hi @dkapitan!

[code]

This class expects a toml without `[gcp]` as follows:

[code]

---

If you want your Toml to be parsed by pyserde, can you create a parent data class that contains `Gcp` like this?

[code]

[2020-11-21 13:45] #63 closed

[2020-11-21 14:20] dkapitan commented on #70
@yukinarit
Thank you for the swift response! Makes perfect sense to me now.

[2020-11-26 07:41] yukinarit commented on #66
Hi @jfuechsl

Just let you know I made a fix. I will add a few more tests and release `0.2.1` this weekend :)

[2020-11-28 05:54] jfuechsl commented on #66
Hi @yukinarit, thank you so much!

[2020-11-29 12:09] #66 closed

[2020-11-29 12:16] #70 closed

[2020-11-29 20:55] yukinarit commented on #66
Hi @jfuechsl, pyserde 0.2.1 was released! Please check! ツ

[2020-11-30 05:45] jfuechsl commented on #66
@yukinarit Thank you very much! It is fixed for me :)

[2020-12-05 09:55] yukinarit opened #73 "Make orjson as the default json serializer"
[orjson](https://github.com/ijl/orjson) is a rust based json serializer and getting more popularity. I would like to change the default json serializer to `orjson`
* If `orjson` discovered, use `orjson
* if not discovered, use `json`

---

Here is the benchmark result. Smaller is better 👍

## `json`

[code]

## `orjson`

[code]

[2021-01-14 00:12] adsharma opened #76 "msgpack and nested serialization"
Trying to figure out how to resolve this problem:

[code]

[2021-01-14 12:52] yukinarit commented on #76
Hi!

Looks like the error is coming from `msgpack` library, not pyserde 🤔

Is [this](https://github.com/adsharma/raft/blob/master/simpleRaft/messages/append_entries.py#L10-L36) the code?

[2021-01-14 15:19] adsharma commented on #76
Yes, that's the code that triggered the error.
I have found a workaround for now (do it manually before calling pyserde).
But would love to understand why the nested case isn't working for msgpack.
Based in the pyserde docs, it's working for the json case?

On Thu, Jan 14, 2021, 4:52 AM yukinarit <notifications@github.com> wrote:

[2021-01-16 11:13] yukinarit commented on #76
@adsharma
Sorry for the delay! Just merged a PR that adds more tests.

Nested dataclass like [this](https://github.com/yukinarit/pyserde/blob/master/tests/test_basics.py#L119-L129) is supported from the very beginning and I use it heavily in my private project!

I am happy to help you to debug and investigate the cause! 🙂
Can you please share how to reproduce the error?

[2021-01-16 23:57] adsharma commented on #76
Setup.py install the git repo you found and then run the 3-4 commands I
pasted.

I'm away on a vacation and not near a computer. Let me know if it doesn't
reproduce for you in the next couple of days.

On Sat, Jan 16, 2021, 3:13 AM yukinarit <notifications@github.com> wrote:

[2021-01-17 07:05] yukinarit commented on #76
OK, If I make the following changes, it work.

* Add  element type to `entries: List[LogEntry] = ...`
* Move LogEntry up in `append_entries.py`

[code]

So the problem was in pyserde which doesn't support deserializing nested dataclass with bare `List` type annotation! OK, I will try to fix pyserde.

[2021-01-19 12:00] yukinarit commented on #76
Hi, I checked the code but I think pyserde is unable to deserialize if no element type is specified like `List`. It needs to be like `List[LogEntry]`

[2021-01-20 02:48] adsharma commented on #76
Thanks for debugging this! I'll update the code as suggested by you.

Perhaps pyserde can detect this case and error out in a more predictable
way.

The reason why I used List instead of List[LogEntry] is that I wanted
implementations to be able to customize LogEntry.

Does pyserde support python's protocols? I guess if I have two apps:

App1LogEntry
App2LogEntry

how would I go about using pyserd

[2021-01-20 11:49] yukinarit commented on #76
True! I will fix pyserde to raise an error for such case.

[2021-01-28 14:37] nikvaessen opened #79 "Clearer errors when using unsupported types"
Minimal example:

[code]

Gives error:

[code]

Suggestion in `de.py`:

[code]

would raise

[code]

[2021-01-29 12:50] yukinarit commented on #79
Hi @nikvaessen

That is nice! Could you please create a MR? I will merge :slightly

[2021-02-01 17:13] adsharma opened #81 "Supporting lazy deserialization"
More context in: https://github.com/google/flatbuffers/issues/6428

Unlike msgpack, flatbuffers has the additional requirement that in a large type with many fields, if the caller is interested in deserializing only a couple of fields, they don't pay the cost of deserializing all fields.

Such a thing could be modeled as:

[code]

I'm not sure if pyserde can provide an additional `@flatbuffer` dec

[2021-02-05 13:12] yukinarit opened #83 "Support more standard collections"
* [x] List
* [x] Tuple
* [x] Dict
* [ ] Any
* [ ] Set
* [ ] FrozenSet
* [ ] DefaultDict
* [ ] OrderedDict
* [ ] ChainMap
* [ ] Counter
* [ ] Deque

[2021-02-09 22:50] #65 closed

[2021-02-12 13:46] yukinarit opened #88 "Reject unformatted code by CI"

[2021-02-14 12:42] #58 closed

[2021-02-18 11:49] yukinarit commented on #79
@nikvaessen
Fixed in https://github.com/yukinarit/pyserde/commit/a13edc699611aa256439153cf5bd772309771f66

[2021-02-18 11:49] #79 closed

[2021-02-18 11:50] #59 closed

[2021-03-02 17:35] alexmisk commented on #88
Hey! Looks like I can work on this. Which code style do you prefer? Black?

[2021-03-03 12:42] yukinarit commented on #88
Hi @alexmisk

pyserde use [black + isort](https://github.com/yukinarit/pyserde/blob/master/Makefile#L36-L38). Thanks!

[2021-03-03 14:04] yukinarit opened #91 "dataclasses on PyPI is installed for Python > 3.6"
I tried to add pyserde to a project with poetry. the dataclasses is included in the list of dependencies.

[code]

Maybe install_requires has to be

[code]

[2021-03-04 12:51] #60 closed

[2021-03-05 14:17] alexmisk commented on #88
Hi! In the _fmt_ section of the Makefile you are not passing the examples folder to isort.

[code]

Is this intentional? Should I configure CI checks in the same way?

[2021-03-06 00:36] yukinarit commented on #88
Forgot to pass 😄

Can you please add?

[2021-03-06 02:38] yukinarit commented on #91
Specifying `"dataclasses;python_version=='3.6'"` fixed the issue.

[code]

[code]

[2021-03-06 14:05] #91 closed

[2021-03-09 12:03] yukinarit opened #97 "dict type in Union might be deserialized incorrectly"
@ydylla
I think you are already aware of this issue but let me create this issue.

[code]

I expect this will print

[code]

but it is actually

[code]

---

This is the generated deserialize code:

[code]

[2021-03-09 13:10] yukinarit opened #99 "Improve the readability of generated code"
@ydylla
Running the following command
[code]

I got the output like

[code]

It's nice if `serde.inspect` could print more readable code. 🙂

[2021-03-09 13:58] #49 closed

[2021-03-09 20:10] ydylla commented on #97
Yes, I did not want to add instance checks for the deserialization, to keep it as fast as possible.
One could workaround this problem by listing the most complex types first.
Like I did here: https://github.com/yukinarit/pyserde/pull/87/commits/36c7095b63ebf490aa9ff7b5ce35b504bd46fc0f

[2021-03-09 20:25] ydylla commented on #99
Sorry, I never actually used inspect.py 😃
It should be easy to suppress the printing of the `code` attribute by overwriting the `__repr__` function of `SerdeScope`.

[2021-03-10 12:17] yukinarit opened #100 "pyserde doesn't convert case for optional type when "rename_all" attributes specified"
I expect to get
`From Json: Foo(name='Pikachu', no=25)` from the below code, but it actually produces
`From Json: Foo(name='Pikachu', no=None)`.

[code]

---

The generated code:

[code]

Apparently pyserde doesn't convert the `"no"` to pascalcase `"No"`  for this case.

[2021-03-10 12:46] yukinarit commented on #97
Hi @ydylla

Yes, I agree with you. But I want pyserde to be as easy to use as possible 🙂

How about reordering the code generation of inner types?

If pyserde automatically finds a type like `Union[List[int], Dict[str, int]]`, it will generate code as if `Union[Dict[str, int], List[int]]`. Maybe It's hard to support all the the types. we can implement reordering of standard collections such as Lis

[2021-03-10 19:13] ydylla commented on #97
Yes reordering should be possible. It should happen around [here](https://github.com/yukinarit/pyserde/blob/f5c03243e2b988848162249ce979effdcc5d9e11/serde/de.py#L638) before we pass `union_args` into the template.

But we need to find a good metric (sort logic). Maybe other dataclasses first then the container types with the most arguments and then primitives will work good enough.

[2021-03-11 11:01] yukinarit commented on #97
Sounds good!

[2021-03-12 13:43] #88 closed

[2021-03-15 13:39] #54 closed

[2021-03-19 14:01] #100 closed

[2021-03-20 13:50] yukinarit opened #104 "Can't get code completion on pyserde class"
Using `vim 8` + `vim-lsp` + `python-language-server`, I can get pretty good code completion on this class.

[code]

however, if I put pyserde's decorator, the code completion will disappear.

[code]

[2021-03-21 12:36] #104 closed

[2021-03-25 06:56] yukinarit opened #108 "class with rename_all attribute gets "Cannot instantiate type Type[<nothing>]" mypy error"
[code]

[code]

* macOS
* python3.9
* pyserde 0.3.1

[2021-04-02 19:34] adsharma opened #109 "Support for NewTypes"
The attached example fails to serialize:

[code]

[2021-04-05 12:27] yukinarit commented on #109
OK, this is how to extract underlying type from NewType.

[code]

* https://github.com/python/cpython/blob/master/Lib/typing.py#L2222
* Some other experiments: https://wandbox.org/permlink/AYGxQWjyYHbbkM7v

[2021-04-06 09:52] yukinarit opened #110 "Migrate to pdoc + mdBook"
The documentation generated by pdoc (not pdoc3) looks good.
https://pdoc.dev/docs/pdoc.html

[2021-04-09 09:03] anis-campos commented on #108
same
[code]
And I have a plugin that does exactly the same than `marshmallow_dataclass`

[2021-04-13 05:17] yukinarit opened #112 "Support PEP563 lazy type evaluation"
Adding `from __future__ import annotations` to examples/simple.py raises an exception.

[code]

[code]

[2021-04-13 09:21] uheee opened #113 "Unable to deserialize nested types of union and tuple"
**Python 3.9 pyserde[toml]==0.3.1**

[code]

Running the above code will throw an error:

```serde.core.SerdeError: Can not deserialize [4, 1] of type List into Union[NoneType, int, float, Tuple[Union[int, float], Union[int, float]]]. Reason: 'union_de_int_float'```

[2021-04-13 11:43] yukinarit commented on #113
Hi @uheee

Thank you for posting an interesting issue!

It seems [this loop](https://github.com/yukinarit/pyserde/blob/master/serde/de.py#L137-L139) runs only once. We need to expand union args and recursively generate function IMO. @ydylla What do you think?

[2021-04-13 11:47] yukinarit commented on #113
@uheee
Here is the workaround in pyserde v0.3.1. Although it's verbose, it works ok for me.

[code]

NOTE: `Union[Union[int,float]] is equivalent to `Union[int,float]`

[2021-04-13 11:50] yukinarit commented on #113
The type can be shortened for toml, because doesn't allow variant array.

[code]

[2021-04-13 21:41] ydylla commented on #113
Yes, but the recursion should happen in [iter_unions](https://github.com/yukinarit/pyserde/blob/bd319ca073631dc11678b3a42fc2cbbc0c2245d9/serde/compat.py#L161) there it should be:
[code]

I did not really test Unions in Unions, the only existing test is too simple and python is actually optimizing it away 😃
Sadly the fix in `iter_unions` produces a follow up issue. A nested tuple is flattened, but

[2021-04-15 02:10] yukinarit opened #115 "Migrate from pipenv to poetry"
Poetry seems be faster and easier to use.

[2021-04-15 02:29] yukinarit opened #116 "Support custom serializer and deserializer"
For example, we want to serialize/deserialize `datetime.time` which is not supported by pyserde as of v0.3.1.

[code]

[2021-04-15 05:37] yukinarit opened #117 "Host multiple versions of documentation"
* `https://yukinarit.github.io/pyserde`: latest release
* `https://yukinarit.github.io/pyserde/v0.3.1`: v0.3.1

[2021-04-15 05:39] #99 closed

[2021-04-15 23:50] yukinarit commented on #109
Hi, @adsharma

I added NewType support for primitives. Could you  check?

[2021-04-16 17:57] adsharma commented on #109
Works great! Thanks for fixing.

On Thu, Apr 15, 2021 at 4:50 PM yukinarit ***@***.***> wrote:

[2021-04-16 17:57] #109 closed

[2021-04-20 21:54] yukinarit commented on #112
PEP563 was reverted for Python 3.10 😄
https://mail.python.org/archives/list/python-dev@python.org/thread/CLVXXPQ2T2LQ5MP2Y53VVQFCXYWQJHKZ/

[2021-04-27 21:01] jbcpollak opened #120 "dacite is mentioned in readme but not shown in graphs"
just browsing I came across this project - I noticed dacite is mentioned but not shown

[2021-04-29 07:49] yukinarit commented on #120
Hi @jbcpollak

Originally dacite was there in the graph, but removed later. Yeah, I need to update README.md.

[2021-04-29 08:17] yukinarit opened #121 "Why not raising for unsupported error when the class is loaded?"
Hi, @ydylla
I have a question. I was working to support `typing.Any` but found the unsupported error is raised at runtime. Any idea? 🤔

[code]

Generated code
[code]

[2021-04-29 16:40] ydylla commented on #121
@yukinarit I don't remember why 😃
Probably just because it previously also was at runtime see [431c914 @ de.py:L377](https://github.com/yukinarit/pyserde/commit/431c9146e31210a4d3e999dd2456667a1ea3acb0#diff-733dfe107c23fc8e53eb1400ac38c83b92253885303cdc5d1ca0d679ddb98046L377) which called into the removed `more_types.py`.
I agree it would probably be better to raise the exception directly from the

[2021-04-29 20:55] yukinarit commented on #121
OK, thanks!

[2021-05-02 12:26] #113 closed

[2021-05-07 14:19] yukinarit commented on #109
Hi @adsharma

Just wanted to let you know v0.3.2 is pushed to PyPI! 🙂

[2021-05-07 14:19] yukinarit commented on #113
Hi @uheee

Just wanted to let you know v0.3.2 is pushed to PyPI! 🙂

[2021-05-11 00:14] yukinarit opened #127 "Add python 3.10.0-beta-1 beta to CI pipeline"
`python 3.10.0-beta-1` is available 🚀
https://github.com/actions/python-versions/releases

[2021-05-13 09:31] #112 closed

[2021-05-29 00:50] mtnakayama opened #132 "Feature request: Custom (De)serialization functions for dates"
Some objects have multiple ways they can be serialized. When reading JSON files generated by other programs, dates are not always compatible with `datetime.fromisoformat`. Users should be able to specify how to serialize and deserialize this data on a per-field basis.

This could either be implemented specifically for dates or more generically for other data. For dates, user could specify a string

[2021-05-29 07:43] yukinarit commented on #132
Hi @mtnakayama
I agree to your idea both `serde_date` and `serde_serialize`/`serde_deserialize`!

I have implemented `serde_serialize`/`serde_deserialize` first because it's more generic! could you please check?
I still need to ponder API design and write more tests though.

[2021-06-02 11:04] #132 closed

[2021-06-16 17:10] #116 closed

[2021-06-16 23:37] #127 closed

[2021-06-17 11:47] yukinarit commented on #132
Hi @mtnakayama

The new pyserde 0.4.0 was just pushed to PyPI! pyserde 0.4.0 supports class/field level custom (de)serializer. Please check README or [example](https://github.com/yukinarit/pyserde/blob/master/examples/custom_field_serializer.py) for more information.

Thank you!

[2021-07-08 11:20] alexmisk commented on #115
Hey! If this ticket is not very urgent, can I take it instead of you? :-)

[2021-07-08 11:23] yukinarit commented on #115
That is very helpful. Thanks! :)

[2021-07-12 14:07] #108 closed

[2021-07-12 14:07] yukinarit commented on #120
Done in #141

[2021-07-12 14:07] #120 closed

[2021-07-13 21:08] davidjson9 opened #142 "Incorrect deserialization of dataclasses with similar fields"
Here is an example where I have two very similar classes, Alpha and Bravo. Alpha has an additional optional field. I serialize Bravo, and when I deserialize I get back Alpha.

[code]

Output:
[code]

[2021-07-14 11:37] yukinarit commented on #142
Hi @davidjson9

This is actually the limitation of the current pyserde, because deserialization from `{"a": 1}`  goes successfully for both `Alpha` and `Bravo`.

In order to fix pyserde working properly for this case, we need to introduce the concept of `External Tagging` which is described in Rust serde's [documentation](https://serde.rs/enum-representations.html). pyserde's enum representation i

[2021-07-21 01:19] adsharma opened #143 "Canonical serialization"
This was discussed here back in 2016 https://github.com/msgpack/msgpack/issues/215

Does pyserde have a repeatable serialization that could be fed to hashlib?

[code]

seems repeatable. But I haven't tested it across platforms.

Also see:

https://death.andgravity.com/stable-hashing where json was used
https://github.com/yuan-xy/canoser-python where dataclasses could be used, but are not.

[2021-07-21 12:45] yukinarit commented on #143
Hi @adsharma

Does it mean pyserde returns the same dict/tuple inside `to_msgpack`? If that's the case, I would say YES although I haven't tested officially in all the platforms and python versions.

A few thoughts on [msgpack-python's issue](https://github.com/msgpack/msgpack/issues/215) are
* dict is unordered in Python<=3.6
* [@ludocode](https://github.com/msgpack/msgpack/issues/215#issuecommen

[2021-07-21 16:08] adsharma commented on #143
* In my modeling of network messages, there is rarely a dict in the message. Even if there is, it could be modeled as two vectors.
* Re: representing the number -20 in many different ways, we just need to use pyserde as a reference implementation and say, -20 is to be represented as EC. Works for me :)
* Yes, like `serde_skip` better.
* JSON: msgpack is more compact and probably faster to parse.

[2021-07-22 00:48] yukinarit commented on #143
sounds good!

[2021-07-23 12:32] yukinarit commented on #143
@adsharma Is it ok to close this issue?

[2021-07-23 16:17] adsharma commented on #143
Yes, Thanks for the feedback.

[2021-07-23 16:17] #143 closed

[2021-07-28 09:23] alexmisk commented on #115
Hey! Just want you to know I am working on the migration right now but stuck with the PyPI publishing.

For unknown reason Poetry includes dev dependencies defined in `[tool.poetry.dev-dependencies]` section in the list of global dependencies. It results in installing a huge list of unnecessary packages on `pip install pyserde`.

Also the support of installing extra packages from PyPI with Poetry

[2021-07-28 23:44] yukinarit commented on #115
Thanks for the update! Can you please push to GitHub? I would like to take a look.

[2021-08-03 19:06] Besler opened #145 "Add example for serializing Numpy data"
After playing for some time, it would be nice to have an example for serialization with a Numpy type. I have given a starting example below. The essence is:
- Specify type annotation with `numpy.typing`
- Use `__post_init__` to convert a `List[float]` to the annotated type
- When (de)serializing, convert to a serializable object type

**examply.py**
[code]

**python example.py**
[code]

**Pit fall

[2021-08-03 20:38] Besler commented on #145
Adding an example for numpy array of type complex.

**complex_number.py**
[code]

**python complex_number.py**
[code]

[2021-08-04 23:59] yukinarit commented on #145
Hi @Besler

Thanks for your post!
I am not a numpy user but I would like to make pyserde easy to use with numpy.

pyserde used to have [more_types.py](https://github.com/yukinarit/pyserde/blob/28c8c1a824264cd36986332039b7357a620e2931/serde/more_types.py) to serialize/deserialize non primary types (e.g. Decimal), but later the module was deleted because pyserde officials supported Decimal, Pathlib

[2021-08-06 03:41] yukinarit opened #149 "Add contributors section in README"
* core contributors
* contributors

[2021-08-11 11:59] bernardomig opened #150 "Mapping to correct class in union type"
Hi, I am using your pyserde to deserialize configuration files. I have multiple classes that are mapped based on a field, and I do not know how to customize pyserde to correctly serialize/deserialize my union type.

Check the example:

[code]

I have the following dataclasses in my code:

[code]

How can I deserialize, based on the field `operation` in the YAML file?

[2021-08-11 12:21] bernardomig commented on #150
I was able to do it with the following code, but it seems quite cumbersome. Is there another way to achieve the same result?

[code]

[2021-08-11 21:38] yukinarit commented on #150
Hi @bernardomig!

This code worked for me, PTAL.

[code]

Output:
[code]

---

The difference is only this part `properties: Optional[Dict[str, str]]` in `ReadOperation`.

[2021-09-01 14:43] hiranp opened #154 "Switch toml library to correctly handle Toml v1 standard"
Please consider changing the current "toml" library dependency. It is not fully toml  v1 compliant. See: https://github.com/toml-lang/toml/wiki.
I would recommend:
https://github.com/samuelcolvin/rtoml

[2021-09-03 13:14] yukinarit commented on #154
@hiranp  Thanks for the suggestion!

I would like to make pyserde work with other Toml libraries!

[2021-09-30 08:20] #110 closed

[2021-09-30 12:29] #150 closed

[2021-10-05 22:48] Besler commented on #145
Yes, this would work! It would also be nice to include a (de)serialization for `complex` to avoid a string conversion. That is, avoid:
[code]
and just have:
[code]

[2021-10-06 14:05] yukinarit commented on #154
Hi @hiranp @Yura52

Thanks for the comments!
I am thinking to make changes to `to_toml`/`from_toml` like this. `to_toml` and `from_toml` uses `toml` library as default, but you can always pass any toml compatible library (i.e. provides `dumps`, `loads`) as `se`/`de` arguments. With this change, you can use both `tomli` and `rtoml`.

[code]

One downside is pyserde still depends on `toml` package.

[2021-10-07 01:28] adriangb opened #156 "Json schema support"
Does this project plan to support JSON schema generation, as well as some way to annotate and maybe even validate types like a `{"type": "string", "pattern": "someregex"}`?

[2021-11-01 09:34] rnestler opened #163 "Better errors if keys are missing"
Currently when trying to serialize from toml and there is a key missing, the raised error will just be a key error:
[code]
Will just give
[code]

I'd expect a custom error which I could catch separately.

[2021-11-01 09:40] rnestler opened #164 "No error if value has the wrong type"
When converting a toml file which has the correct fields, but the wrong type, the code will just succeed:
[code]

This will just print `Test(foo='test')` with `foo` as a `str`. I'd expect the code to raise an error indicating that the field has the wrong type.

[2021-11-02 07:40] yukinarit commented on #156
I will see I can do something!

[2021-11-03 06:32] yukinarit commented on #164
Hi @rnestler!

Thanks for reporting the issue!
Yeah, pyserde didn't raise an error for such cases by the following reasons:
* pyserde design is heavily inspired by dataclasses. dataclass doesn't raise error for such cases
* Having type check imposes performance penalty

But I think most of the users would care about type consistency than performance. I will see if I can fix this without much perfo

[2021-11-09 03:42] mauvealerts opened #166 "Deserializing None results in default value"
During deserialization, a field with value `None` results in the field's default value. This happens even with a custom class deserializer or a custom field deserializer. This behavior conflicts with dataclass and pyserde's serialize; they don't convert `None` to the default value.

Example:
[code]
Outputs
[code]

[2021-11-09 03:53] mauvealerts commented on #166
The obvious change is checking for key presence, instead of comparing the value to `None`. However, it's not backwards-compatible. OTOH, looking through dependent packages on PyPi, I didn't find anything that would be affected: a field that accepts `None` and has a default that isn't `None`

[2021-11-09 04:05] mauvealerts opened #167 "Missing types with custom class deserializers"
The code generation doesn't put `Optional` or `Union` in scope when calling a custom class deserializer. This results in a `NameError` during deserialization.

Example
[code]
Output
[code]

[2021-11-09 09:24] yukinarit commented on #167
Thanks for reporting! Will take a look!

[2021-11-09 11:20] yukinarit commented on #167
hmm I got the different error 🤔

[code]

[2021-11-09 11:30] mauvealerts commented on #166
I hadn't considered tuples. I didn't find a test, and I don't know what the use-case is... The analagous change would be only using defaults if the tuple is too short. However, tuple length must match the number of fields; so, defaults would never be used with `from_tuple()`

If that's desirable, I'm happy to update my PR.

[2021-11-09 11:43] mauvealerts commented on #167
Interesting. The output in my original-comment is from a Python 3.10 venv. Notably, I can use `serde.inspect` on it.

With a Python 3.9 venv, I get the exact same error you do. Since it fails sooner, `serde.inspect` doesn't work, of course.

[2021-11-09 12:04] yukinarit commented on #167
OK, it reproduced with a small fix.

[2021-11-11 00:52] #166 closed

[2021-11-18 14:12] #167 closed

[2021-11-18 14:12] yukinarit commented on #167
@mauvealerts

I think #169 fixed the issue. Could you please verify?

[2021-11-19 10:49] mauvealerts commented on #167
Yes, it now works for me. Thanks!

[2021-11-20 02:53] yukinarit commented on #167
Great! Thanks!

[2021-12-03 16:08] anthrotype opened #176 "Feature request: add a "serde_skip_if_default" option"
hello, thanks for this nice library!

I know there's already "serde_skip" and "serde_skip_if" field metadata options. I'd like to be able to omit serializing optional attributes when the value is equal to their default value.
One could use "serde_skip_if" but then one needs to repeat the default value twice, i.e. once in `field(default=...` and then again in `"serde_skip_if: lambda v: v == {{defau

[2021-12-03 16:29] anthrotype commented on #176
it would also be nice to be able to set that option more globally, e.g. at the class level (in the `@serialize` decorator maybe) in addition to for each field.

[2021-12-07 05:46] yukinarit commented on #176
Hi @anthrotype

Thanks for the interest and feature request! I can take a look at it after a few days. 🙂

[2021-12-14 01:35] OhkuboSGMS opened #179 "pyserde-0.5.3 may not have been updated."
First, thanks for this useful library !

I installed the latest version of pyserde, 0.5.3, from pip.

`from serde import serde` raise error, I checked `__init__.py `and found that `def serde` did not exist.
Just in case, I downloaded it directly from pipl and checked it, but `def serde` did not exist here either.
Perhaps something went wrong when uploading to the pypi.
Thank you for your confirmat

[2021-12-14 01:53] yukinarit commented on #179
Hi @OhkuboSGMS

Thanks for your interest!

`serde` decorators exists in `master` branch as of now, and this upcoming version (to be `v0.6.0) is not yet published in PyPI.

I am planning to merge a few more changes and push to PyPI in the next few days, so please be patient. If you are in a hurry, please refer to the v0.5.3 documentation: https://github.com/yukinarit/pyserde/tree/v0.5.3

---

pyser

[2021-12-14 01:59] #179 closed

[2021-12-14 02:03] OhkuboSGMS commented on #179
thank you for your reply.
I misunderstood that the serde decorator was implemented in 0.5.3.

I look forward to the 0.6.0 update.
***

返信ありがとうございます。
0.5.3でserdeデコレータが実装されていると，勘違いしていました．

0.6.0のアップデートを楽しみにします．

[2021-12-14 06:23] benridley opened #180 "Ensure docs track the latest release tag"
Thanks @yukinarit and others for an awesome library, this is exactly what I wanted when working with dataclasses.

I did have some issues though, because I noticed that the documentation at https://yukinarit.github.io/pyserde/guide/ is using what appears to be the master branch of the code, however when I tried installing pyserde and using it, I noticed I couldn't import the `serde` function. Afte

[2021-12-15 05:35] yukinarit commented on #180
Hi @benridley

Thanks for liking `pyserde`!

Sorry about the confusion. I was told by the other person also.
I will work on publishing v0.6.0 and [hosting multiple versions of documentation](https://github.com/yukinarit/pyserde/issues/117) ASAP.

[2021-12-15 11:39] benridley commented on #180
Thanks @yukinarit, I appreciate your awesome work!

[2021-12-20 11:27] #176 closed

[2021-12-20 11:29] anthrotype commented on #176
Thank you!

[2021-12-20 11:41] yukinarit opened #184 "Add skip_if_default class attribute"
https://github.com/yukinarit/pyserde/issues/176#issuecomment-985657562

[2021-12-20 11:42] yukinarit commented on #176
@anthrotype Sorry for the delay, let me consider adding `skip_if_default` class attribute later 👍

[2022-01-01 19:32] not-my-profile commented on #164
I have to say that I find this quite shocking. Calling the library "pyserde" and saying that it's "inspired by serde-rs" implies that the library performs strict type checking because that's what serde does.

Type checking can make or break the security of an application, so until you implement type checking, I think that you should add a very big warning to your README that your library does not

[2022-01-12 17:01] baltek71 opened #188 "'NoneType' object is not iterable when deserializing list field with None value"
Hi,
I'm trying to deserialize dict into obj with list field that can be None.

Python 3.9 pyserde==0.6.0
[code]

which throws TypeError
[code]

I also tried to use:
`bar: List[int] = field(default_factory=list, skip_if=lambda v: v == None)` and
`bar: List[int] = field(default=None, skip_if_default=True)`
but it gave the same results.

Can you help me achieve this ? I want to keep field type annota

[2022-01-13 13:08] yukinarit commented on #188
Hi @baltek71

It sounds like a bug. Let me work on it after https://github.com/yukinarit/pyserde/issues/142

For now, is it possible to use this workaround?

[code]

[2022-01-14 09:35] baltek71 commented on #188
Thanks, I haven't thought of that !
Using Optional type worked for me.

[2022-01-16 13:31] #142 closed

[2022-01-16 13:49] yukinarit opened #189 "Support PEP604 Union types"
This declaration will get you an error `AttributeError: 'types.UnionType' object has no attribute '__name__'. Did you mean: '__ne__'?`.

[code]

[2022-01-19 19:00] smoehrle opened #190 "KeyError for Optional when using custom deserializer"
Hey,

just noticed your project today and played around a bit :+1:

I just found out that the "Optional" detection/deserialization is not working anymore when using a custom deserializer. Example:

[code]

Greetings

[2022-01-20 11:14] yukinarit commented on #190
Hi @smoehrle
Sounds like a bug. Thanks for reporting!

[2022-01-23 09:28] #190 closed

[2022-01-23 09:29] yukinarit commented on #190
@smoehrle
I think the issue was resolved. Let me know if you find more issues. Thanks!

[2022-01-23 20:06] jennydaman opened #192 "Some NewTypes such as Dict do not work"
[code]

expected: `B(a={'x': 'y'})`

actual:

[code]

### Info

[code]

[2022-01-24 08:19] smoehrle opened #193 "ArgumentError for List when using custom deserializer"
Hey,

thanks for the fast fix on #190 ! While testing the fix I found the following:

[code]

Greetings

[2022-01-24 12:12] yukinarit commented on #192
Hi @jennydaman

Thanks for the issue!
`NewType` is currently supported in the case the underlying type is primitive.
I will look into supporting non primitives 👍

[2022-01-24 12:13] yukinarit commented on #193
Hi @smoehrle
Thanks for another issue. I will look into it this week 👍

[2022-01-27 00:13] yukinarit opened #194 "Drop python3.6 support"
https://endoflife.date/python

[2022-01-27 00:15] yukinarit opened #195 "Bring back PyPy support"
PyPy 3.7 and 3.8 are already available.

[2022-02-02 12:46] carlocorradini opened #199 "pyserde 0.7"
In my project I need to use Union Representation, therefore tagging is mandatory.
However, pyserde 0.7 is necessary to use tagging.
How can I deal with that?
Or when it will be available on pypi?
Thanks!

[2022-02-02 13:06] yukinarit commented on #199
Hi @carlocorradini, Thanks for being interested in pyserde!

I wanted to include the feature to address #164 in 0.7, but it seems I need more time to finish.

Let me try to push pyserde 0.7 without #164 to PyPI by the weekend. If you need to test it right now, please install it from Git. Thanks.

[2022-02-02 13:12] carlocorradini commented on #199
@yukinarit pyserde is awesome!
I've used rust so it's easy and powerful!

[2022-02-02 13:21] carlocorradini commented on #199
@yukinarit a little help (I am new to Python)
I'm using `pipenv` trying to install pyserde via:
[code]
but i receive the following error(s):

![immagine_2022-02-02_142115](https://user-images.githubusercontent.com/21266147/152161766-b5ab29ea-391e-4a6e-bb57-09c6d06abde8.png)

Any help?

Thanks! 🤯

[2022-02-02 13:33] yukinarit commented on #199
I am glad to hear that! I also use Rust + serde a lot 😄

It worked for me without `-e`.

[code]

---

If you are new to Python, I would recommend using Poetry. It's closer to Cargo.

[code]

Goes into poetry environemnt
[code]

[2022-02-02 20:16] carlocorradini commented on #199
Working.
Waiting for version 0.7.0 🎉

[2022-02-02 20:16] #199 closed

[2022-02-03 15:09] carlocorradini opened #200 "MAC address support"
I think it would be nice to support serialization/deserialization of MAC addresses.

This feature would go well with `ipaddress` data format.

[2022-02-03 15:30] MrPerpe commented on #200
It would be AWESOME!

[2022-02-04 13:05] yukinarit commented on #200
Do you have specific class to represent Mac address in mind? e.g. `ipaddress.IPv4Address` for IP address.

[2022-02-04 13:24] carlocorradini commented on #200
@yukinarit what about [python-macaddress](https://github.com/mentalisttraceur/python-macaddress) ?
I also says: *Heavily inspired by the ipaddress module*

[2022-02-04 13:37] carlocorradini commented on #200
@yukinarit
*PS*: The `ipaddress` support is awesome! I've been using it extensively in my projects.
Thanks again for this library!

[2022-02-04 14:09] yukinarit commented on #200
@carlocorradini
Sorry, pyserde doesn't support third-party libraries unless it's important for everyone e.g. Numpy.

How about using the custom field (de)serializer? 🤔

[code]

[2022-02-04 15:11] carlocorradini commented on #200
@yukinarit  Awesome thanks!
For clarity, the serializer/deserializer can be defined only once and then each EUI48 is automatically (de)serialized? Or for each EUI48 I need to define `field(..)`

[2022-02-04 15:45] carlocorradini commented on #200
@yukinarit
`addr` is optional. Unfortunately the following does not work:
[code]
Any idea?
Thanks

[2022-02-05 09:58] yukinarit commented on #200
@yukinarit

If you use custom (de)serializer, pyserde no longer handles Optional, Default .. etc. You need handle by yourself.

e.g.
[code]

[2022-02-05 11:05] carlocorradini commented on #200
@yukinarit Thanks!

[2022-02-05 11:05] #200 closed

[2022-02-14 14:32] #163 closed

[2022-02-14 15:11] yukinarit commented on #199
@carlocorradini I pushed 0.7.0 in PyPI!

[2022-02-22 15:06] jennydaman opened #202 "Support for generics"
It would be useful to support generics. The current behavior is that generic types are treated as `Any`.

[code]

The result is

[code]

Let me know if you think this is a desirable feature and want help from me with looking into this. I am trying some related things, and getting the generic type from a class is not trivial...

[2022-03-05 03:12] gitpushdashf opened #205 "mypy: Unexpected keyword argument"
Hi,

This is very cool!

Unfortunately, when I use `mypy`, I get `Unexpected keyword argument` when I try to `return` a `@serde`ed class from a function. I'm not sure if `serde` would need to have a `mypy` plugin or if I'm making a mistake.

I can make a minimal test case if needed.

Thank you!

[2022-03-09 12:09] yukinarit commented on #205
Hi @gitpushdashf

Yes, could you please provide a minimal test case? Thanks!

[2022-03-17 13:47] yukinarit commented on #202
@jennydaman pushed v0.7.1 to PyPI! 🙂

[2022-03-17 13:47] #202 closed

[2022-03-18 12:23] yukinarit commented on #194
Done in https://github.com/yukinarit/pyserde/pull/196

[2022-03-18 12:23] #194 closed

[2022-03-19 11:22] #189 closed

[2022-03-20 14:00] yukinarit commented on #31
Sorry I can not come up with a good way to support attrs

[2022-03-20 14:00] #31 closed

[2022-03-21 15:37] yukinarit commented on #76
I guess it's already resolved? 🤔  Please reopen if you need further help, thanks.

[2022-03-21 15:37] #76 closed

[2022-03-31 17:10] gitpushdashf commented on #205
Sorry for the wait! Here it is:

[code]

[2022-04-01 13:27] yukinarit commented on #205
Look like there is no good way to fix? https://mypy.readthedocs.io/en/stable/additional_features.html#caveats-known-issues

Another workaround:

[code]

[2022-04-01 15:08] gitpushdashf commented on #205
Ah, I see.

Doesn't `@serde` already apply `@dataclass`? So `@dataclass` is applied twice? I'm not sure if that's an issue or not.

[2022-04-02 13:41] ryanrussell opened #212 "serde.compat.SerdeError: 'size' workaround"
Hello,

I'm trying to use Serde on a `dict` with a nested `list of dicts` with 50k `dicts`.

[code]

When I try to send batches of 50k,
[code]

This error persists to the 3k batch size, when it changes to this error:
[code]

When I drop the batch size to 1k, it succeeds.

Took a quick look at [https://github.com/yukinarit/pyserde/blob/master/serde/de.py#L283](https://github.com/yukinarit/pyserde/b

[2022-04-03 06:18] yukinarit commented on #205
@gitpushdashf should be no problem! 👍

[2022-04-03 06:20] yukinarit commented on #212
Hi @ryanrussell !

There is no size limit in pyserde AFAIK. Does `Trade` class have `size` and `conditions` fields? 🤔

[2022-04-03 15:41] ryanrussell commented on #212
Yes, it does!

[code]

Let me investigate those issues, looks like it's probably a data validation error instead. Thanks so much for the help.

Will post back with a close to confirm when it works.

[2022-04-03 23:50] yukinarit commented on #212
@ryanrussell
Could you try to remove `field(metadata={"serde_flatten": True})`?

[code]

[2022-04-04 22:52] gitpushdashf opened #214 "pyserde installs "tests" package"
Something isn't quite right...

[code]

This can break tests locally when install pyserde.

[2022-04-05 15:40] gitpushdashf commented on #214
These two lines should probably be removed: https://github.com/yukinarit/pyserde/blob/master/pyproject.toml#L12,L13

[2022-04-05 16:54] gitpushdashf commented on #205
Thank you!

[2022-04-05 23:05] yukinarit commented on #214
@gitpushdashf Thanks! LGTM.
I can quickly merge if you create a PR 🙂

[2022-04-07 01:08] #214 closed

[2022-04-08 08:57] sbant opened #216 "Support typing.TypedDict ?"

[2022-04-11 18:49] AustinScola opened #217 "Package does not include py.typed file?"
Hi, I don't think the `py.typed` file is being included in the package.

I'm using mypy to type check code using `serde` and getting the following error:
[code]

I haven't used poetry so I'm not exactly sure how to fix this.

[2022-04-11 19:55] gitpushdashf commented on #217
I just installed pyserde 0.7.1 in Docker, and I see the py.typed file:

[code]

[2022-04-11 19:56] gitpushdashf commented on #217
May want to take a look at this: #205

[2022-04-11 20:15] AustinScola commented on #217
Ahh, sorry for the false alarm. I'm running mypy in a venv and forgot to add `pyserde` to the venv!

[2022-04-11 20:15] #217 closed

[2022-04-11 21:14] yukinarit commented on #154
Yeah, I am also thinking to adopt tomli 🙂

[2022-04-19 18:09] ryanrussell commented on #212
Just confirming this was an issue on the data hygiene.

I did take out the serde_flatten as well, thank you for the tips.

Appreciate you sharing your approach to wrapping dataclasses. Very clean and functional!

[2022-04-19 18:09] #212 closed

[2022-04-25 21:45] kmsquire opened #220 "Support typing.Literal as a type"
The following leads to an error, but it should(?) be possible to check this:

[code]

Running this currently gives:
[code]

[2022-04-27 02:09] #145 closed

[2022-04-28 00:15] kmsquire commented on #220
Note that the above error appears for Python 3.9 (and probably earlier).  On Python 3.10, `typ.__name__` is set for `Literal`.

That said, the following still errors on Python 3.10:

[code]

which gives

[code]

[2022-04-28 08:16] Serock3 opened #224 "Python 3.10 union operator with None (e.g. " str | None") can't capture missing field"
I'm running Python 3.10 and Pyserde 0.7.2. This
[code]
causes a crash
[code]
While using `Optional[str]` works fine
[code]
Output: `test(x=None)`

[2022-05-06 08:25] #220 closed

[2022-05-11 09:06] kigawas commented on #73
The serialized data from orjson is `bytes` rather than `str` from `json`, inconsistence of which needs to be addressed.

[2022-05-15 14:14] yukinarit commented on #81
Sorry I can't think how to implement this feature ...

[2022-05-15 14:14] #81 closed

[2022-05-15 15:13] #193 closed

[2022-05-17 00:22] #224 closed

[2022-05-23 12:54] #73 closed

[2022-05-23 14:00] #205 closed

[2022-05-23 19:28] AustinScola opened #230 "InitVar?"
Does pyserde support `dataclasses.InitVar`?

[2022-05-24 12:32] AustinScola opened #231 "Variable length tuples throw exception"
I think there is a bug with tuples of variable lengths:

## Example
[code]

## Stacktrace
[code]

[2022-05-24 13:46] yukinarit commented on #231
Not supported yet 🙂

[2022-05-24 13:46] yukinarit commented on #230
Not supported yet 🙂

[2022-05-24 17:22] AustinScola opened #233 "Raising an exception in `__post_init__` results in `SerdeError`?"
I have a dataclass and I want do to some validation of the fields in `__post_init__`. If there is a problem I raise a custom exception. However, `pyserde` catches all exceptions in `from_obj`and raises a `SerdeError` instead? This isn't really what I want and I don't know if it if the best behavior in general?

[2022-05-24 23:15] yukinarit commented on #233
Oh, I didn't take `__post_init__` into account when I fixed https://github.com/yukinarit/pyserde/commit/76b0aee

Any good idea to exclude `__post_init__` in try-cache..? 🤔

[2022-05-25 12:35] AustinScola commented on #233
Hmm I think we might be able to examine the stacktrace with the `traceback` module to determine if the exception was thrown from `__post_init__`?

[2022-06-01 13:05] yukinarit opened #237 "Rework strong type check"
I would like to implement type coercion and strict type checking using [beartype](https://github.com/beartype/beartype). beartype offres the type-checking for pure dataclasses. I am thinking to rely on beartype for type checking rather than implementing our own.

[2022-06-14 23:47] #233 closed

[2022-06-15 22:12] gitpushdashf opened #240 "Replace stringcase with casefy"
stringcase is very old and likely abandoned (last publish in 2017). casefy looks to be a promising alternative that's maintained.

https://github.com/dmlls/python-casefy

Would you consider this? I haven't looked yet to see how much work the conversion would be.

[2022-06-15 23:44] yukinarit commented on #240
Hi @gitpushdashf

I am ok to change. Conversion is very simple. Would you like to contribute? 😄

[code]

[2022-06-16 17:25] gitpushdashf commented on #240
Sure! Pull request is open and ready to go. Tests passing locally.

[2022-06-18 00:54] #240 closed

[2022-06-21 17:06] AustinScola opened #243 "`skip_if_default` broken?"
I think the `skip_if_default` attribute of fields is broken?

Example:
[code]

[2022-06-21 17:14] AustinScola commented on #243
False alarm was on 0.7.2 and it seems to fixed now in 0.8.2

[2022-06-21 17:14] #243 closed

[2022-06-21 17:41] AustinScola opened #244 "field skips don't work with custom serializer?"
I think that `skip_if_default`, `skip_if_false`, and `skip_if` don't work if there is a custom serializer?

Example:
[code]

[2022-06-21 18:39] AustinScola opened #245 "Question: Why does `from_json` return `Optional[T]`?"
Why does `from_json` return `Optional[T]` whereas the other deserializers like `from_yaml` return `T`?

[2022-06-28 06:22] skogsvik opened #246 "Numpy v1.23.0 breaks pyserde compatability in Python versions <= 3.8"
The commit https://github.com/numpy/numpy/commit/7739583f5fb39c31e83010a3153fa078004e55eb splits the typing library into a public and private part.

A consequence is that pyserde's compatibility mode for Python 3.8 (and below) which relies on some private types will no longer work as those types have now moved.

[2022-06-28 08:23] skogsvik commented on #246
Adding an MRE

Installing with `pipenv install` and running with `pipenv run python mre.py` yields the following error:
[code]

Downgrading to `numpy = "<1.23.0"` solves the issue.

### mre.py
[code]

### pipfile
[code]

### pipfile.lock
[code]

[2022-06-28 12:49] yukinarit commented on #246
Thanks @skogsvik for reporting!
Fixed to use bumpy<1.23.0 for python3.7 and 3.8 in pyserde v0.8.3.
If you know how to fix the issue, PR is welcome. (Sorry, I am not a numpy user)

[2022-06-28 12:51] yukinarit commented on #245
I have no idea 😄  It seems it became `Optional` in this commit 🤔

[2022-06-28 13:08] skogsvik commented on #246
I can't say that I understand what that section of code is attempting to do without digging more into how serde works.

I don't think it is a good idea to rely on private types in someone else's library. They might change something unexpectedly and break your library (such as in this case).

Seeing how this is already a hack, you might chose to double down and simply retry the import if you notice

[2022-07-05 11:22] #164 closed

[2022-07-05 11:27] yukinarit commented on #246
@kmsquire Would you please take a look?

[2022-07-05 12:15] #245 closed

[2022-07-05 12:23] #188 closed

[2022-07-07 14:28] #154 closed

[2022-07-21 16:45] tbsexton commented on #237
@yukinarit Just found this library, since I am looking into [beartype](https://github.com/beartype/beartype) and want to use that, and figured there must be non-pydantic libraries with good (de)serialization options that interop with type validation libraries, rather than re-inventing.

Personal preference here is to follow the "unix principle", and prefer interop with existing validation librarie

[2022-07-23 14:16] yukinarit commented on #237
Hi @tbsexton!

Thanks for the good suggestion. I looked into beartype and like it so much 👍
I really appriciate if you could investigate `pyserde` + `beartype`

[2022-07-25 13:21] #246 closed

[2022-07-26 04:56] Exiled1 opened #253 "Support for aliasing on dataclass fields"
Similarly to [field attributes](https://serde.rs/field-attrs.html) in the serde.rs crate it would be very useful to be able to describe multiple aliases for the same field, that way you're not stuck if multiple names exist while de-serializing.

Something like this would be useful
[code]

The syntax is definitely up for debate, since in the serde library it's `#[serde(alias = "one", alias = "two",

[2022-07-27 04:09] yukinarit commented on #253
Hi, @Exiled1  Thanks for being interested in pyserde!

These aliases would be used only during deserialization? 🤔 Do you know what field name will be used during serialization? 🤔

[2022-07-27 07:39] Exiled1 commented on #253
Why hello there @yukinarit! I definitely took an interest after seeing how much nicer to work with pyserde is than serde (other py library)

And yes, these aliases should only be used during serialization into a struct/dataclass.

And the field name used during serialization should still be the name defined in the original field, or whatever's been specified by the field(rename=...) method.

When

[2022-07-27 14:05] yukinarit commented on #156
Sorry this feature is out of scope of this project. Maybe you can make a new package on top of pyserde.

[2022-07-27 14:05] #156 closed

[2022-08-19 12:46] tbsexton commented on #237
Hey @yukinarit, I know it's been a bit, but I definitely haven't dropped this. You might be interested in [this thread](https://github.com/wesselb/plum/issues/53). Most of the ways I could think of to make things "easier to reason about in terms of extensibility" would be to possibly use some kind of dispatch.

I'm gathering that part of what makes serde.rs elegant is that it leans heavily on the

[2022-08-20 11:23] yukinarit commented on #237
Hi @tbsexton

Thanks for the updates. Extensibility like a trait in Rust sounds really cool. Plum looks cool too!
 But isn't dynamic dispatch expensive, especially if the object is fairly large? 🤔
pyserde generates most of the (de)serialization code at import time for speed. Do you have any idea to address the performance issue?

[2022-08-26 15:31] gitpushdashf opened #258 "Upgrading to 0.9.0: error: Call to untyped function "serde" in typed context"
Hi,

Not sure what changed, but mypy is complaining with serde 0.9.0. I didn't get this error in the last release.

Anything that is decorated with `@serde` gets this error. I am using `type_checking=Strict`, not sure if it would make any difference.

Thank you!

[2022-08-26 15:35] gitpushdashf commented on #258
Ok, so it is when I do `@serde(strict_checking=True)` or `@serde()`. `@serde` is fine. I am using `mypy --strict`.

[2022-08-27 13:17] yukinarit commented on #258
@gitpushdashf Thanks for reporting! Let me check

[2022-08-27 14:46] yukinarit commented on #258
@gitpushdashf
Can you please verify with the above PR?

[2022-08-29 16:35] gitpushdashf commented on #258
Awesome. Works for me, thank you!

[2022-08-30 13:25] #258 closed

[2022-08-30 15:33] AustinScola opened #261 "Custom class serializer doesn't work for nested data?"
Hey @yukinarit,

I'm running into an issue with a custom class level serializer. I have a `dataclass` with a field that is a dictionary and I want all `datetime`s in the dict to be serialized using `.timestamp()`. This seems to work for top level values, but not for anything nested ? I'm not sure exactly what the expected behavior is here? Is there a different way to accomplish this or is it a bug

[2022-08-31 13:15] yukinarit commented on #261
Hi @AustinScola

pyserde doesn't inspect the nested type at Runtime if the type is declared as `Any`.  That is because of the performance.
The library like [dataclasses-json](https://github.com/lidatong/dataclasses-json) does runtime type inspection therefore it was said to be really slow.

---
I wanted to provide this code as a workaround

[code]

But it seems custom serializer isn't supported fo

[2022-09-01 14:21] kmsquire opened #263 "Unable to deserialize null value for type `Optional[UUID] = None`"
Hi, pyserde seems to mishandle this very specific corner case.

Minimum example:

[code]

Everything before the last line works fine.  The last line gives the error below.

If I remove the default for `id` (i.e., remove `= None`), it works fine.
If I change the type of `id` to `Optional[int] = None`, it works fine.

So it's specific to `Optional[UUID] = None`.

From the error, it seems like it's t

[2022-09-01 15:52] kmsquire commented on #263
This seems to be the generated code.  It doesn't handle having an explicit null as a value in the object to be decoded.

[code]

[2022-09-01 16:01] kmsquire commented on #263
And if I remove the default value, I get the following for `__id`:

[code]

So I think that it needs to be something like

[code]

[2022-09-01 19:18] kmsquire commented on #263
Fix available in #264

[2022-09-03 10:06] #263 closed

[2022-09-03 11:29] yukinarit commented on #263
pyserde v0.9.2 was published in PyPI. Thank you!

[2022-09-04 23:47] yukinarit opened #267 "Support PEP 681 – Data Class Transforms"
I think PEP 681 [@dataclass_transform](https://peps.python.org/pep-0681/) fixes mypy error reported in [#205](https://github.com/yukinarit/pyserde/issues/205) when a class declared without @dataclass.

[code]

[2022-10-28 18:19] kmsquire opened #269 "Incorrect deserialization with nested Generic classes"
Hi, we have some complex nested generic classes that are being deserialized incorrectly.

Full example:
[code]

Running gives
[code]

I.e., serializing works fine, but when deserializing, the data inside `payload` is deserialized as a dictionary, instead of whatever class `Data` represents.

Also, the payload is of type `Payload` instead of type `EventPayload`.

[2022-10-28 18:28] kmsquire commented on #269
I also tried replacing `Event` and `EventA` with

[code]

But `pyserde` doesn't like the empty `EventA` class (gives `AttributeError: __name__`).  And If I remove the `@serde` annotation from `EventA`, it simply deserializes the payload as a dictionary:

[code]

Here, at least, the payload has the correct type.  So maybe this is the way to pursue, except for the error from `pyserde`.

[2022-11-05 14:20] yukinarit commented on #269
I've also tested with `Payload`

This code doesn't deserialize into `Payload` correctly.
[code]

[code]

---

But if I change the type from `Payload` to `Payload[A]` in `from_dict` function, it can deserialize correctly  🤔

[code]

[2022-11-10 14:16] #267 closed

[2022-11-10 14:16] #269 closed

[2022-11-10 14:47] yukinarit commented on #269
@kmsquire pushed pyserde v0.9.3. Please reopen if you still have this issue, thank you.

[2022-11-11 00:36] Gwill opened #273 "Bug? Can't Support Type Tuple[Any, ...]"
[code]

[code]

[2022-11-12 12:14] yukinarit opened #275 "Support python 3.11 tomllib"

[2022-11-13 06:20] #275 closed

[2022-11-18 14:20] #231 closed

[2022-11-18 14:20] #273 closed

[2022-11-20 11:46] #149 closed

[2022-11-20 12:16] yukinarit commented on #231
Supported in pyserde v0.9.4

[2022-11-20 12:16] yukinarit commented on #273
Supported in pyserde v0.9.4

[2022-11-24 14:40] #230 closed

[2022-11-26 10:56] yukinarit opened #282 "Add prefix, suffix class attribute"
It would be convenient if pyserde could do like

[code]

Then Foo can be deserialized from `{"foo_a_key": "..."}`.

If we set `rename_all="camelcase"`, it will be `{"fooAKey": "..."}`.

[2022-11-26 10:58] #253 closed

[2022-11-26 13:27] yukinarit commented on #253
@Exiled1
alias was implemented in pyserde 0.9.5 🙂

[2022-11-26 21:27] Exiled1 commented on #253
Wow! That was really fast! Thank you for letting me know!!! I'll definitely have to look at your implementation to see how to potentially contribute :)

[2022-11-30 10:58] masinc opened #287 "Support for recursive data?"
Python: 3.10.8
pyserde: 0.9.5

I defined the following class and an error occurred.

[code]
The `field` value is commented out, but a `RecurtionError` is raised in both case.

Rust `Serde` worked with similar recursive data structures.
[code]

[2022-11-30 13:19] yukinarit commented on #287
Hi @masinc, This is only the workaround I could come up with

[code]

Output
[code]